html,body {
  top:0;
  left:0;
  background-color: #000000;
}



/* menu */

.topnav {
  display: flex;
  flex-direction: row-reverse;
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  width: 100%;
  left:0;
  top:0;
  z-index: 3;
  opacity: 0.9;
}

/* Logo */

.logo {
  padding: 20px ;
  height: 30px;
}

.div_logo {
  margin-right: auto;
}

/* main */

.main {
  color: white;
  position: relative;
  top: 80px;
  font-family: 'Forum', cursive;
  left:0;
  width: 100%;
  text-align: center;
}

/* header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

hr {
  border-top: 0px solid;
  opacity: 0.5;
}

h1 {
  font-size: 80px;
  letter-spacing: 20px;
  margin:0px;
  padding:0px;
  font-weight: 100;
}

h2 {
  font-weight: 100;
}

/* articles */

.section1 {
  color: white;
  position: relative;
  top: 80px;
  font-family: 'Forum', cursive;
}

.article {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  column-gap: 300px;
  row-gap: 50px;
  justify-content: center;
  justify-items: center
}

/* Articles Boxes */

.articleBox{
  background-color: white; 
  height: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: none;  
  border-radius: 5px;
  width: 330px;
  text-align: center;
}

.articleBox:nth-child(1) {
  display: inline-block;
}

.articleBox:nth-child(2) {
  display: inline-block;
  
}

.articleBox:nth-child(3) {
  display: inline-block;
}

.articleImage {
  height: 280px;
  width: 250px;
  border-radius: 5px;
}

.articleDate {
  color:black;
  font-size: 20px;
  font-family:'Forum', cursive;
  letter-spacing: 3px;
  font-weight: 1000;
}

.articleText {
  color:black;
  font-size: 15px;
  font-family:'Forum', cursive;
  letter-spacing: 2px;
  width: 250px;
}

.articleTitle {
  color:black;
  font-size: 19px;
  font-family:'Forum', cursive;
  letter-spacing: 2px;
  font-weight: 1000;
}

.buttonReadMore, .buttonLoadMore{
  border-radius: 5px solid;
  border-color: #456F7D;
  border-radius: 5px;
  background-color: #456F7D;
  padding: 15px;
  color: #f7f7f7;
  font-weight: 900;
}

.buttonReadMore{
  box-shadow:  8px 4px 15px  #1f4854;
  margin-top: 13px;
}

.buttonReadMore:hover {
  background-color: #6a94a1;
  color: #000000;
}

.buttonReadMore:active {
  background-color: #91b5c0;
  color: #000000;
  box-shadow:  6px 7px 17px  #10262d;
}

.buttonLoadMore{
  box-shadow:  3px 3px 7px  #1f4854;
  margin-top: 150px;
} 

.buttonLoadMore:hover {
  background-color: #6a94a1;
  color: #000000;
}

.buttonLoadMore:active {
  background-color: #91b5c0;
  color: #000000;
  box-shadow:  6px 7px 17px  #10262d;
}

/* Section2 - Form */

.section2 {
  position: relative;
  top: 250px;
  font-family: 'Forum', cursive;
  width: 100.51%;
  margin-bottom: 500px;
  position: relative;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formTextDiv {
  margin: 30px;
  font-size: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 50px;
  position: relative;
}

.formTextColor {
  color:#2a454e;
  font-weight: 1000;
}

label {
  font-size: 20px;
  margin: 0px;
  color: #1a3b45;
  font-weight: 800;
  z-index: 1;
  
}
input {
  margin: 0px;
  background-color: grey;
  border: solid 1px;
  border-color: rgb(70, 70, 70);
  cursor: pointer;
  width: 400px;
  height: 30px;
}

.form-control {
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #000000;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 16px;
  padding: 5px;
  left: 5px;
	width: 400px;
  background-color:#d4d7d8;
  margin-bottom: 5px;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 7px;
	left: 5px;
	visibility: hidden;
  font-size: 11px;
}

.form-control.error small {
	visibility: visible;
}

.form_button {
  border-radius: 5px solid;
  border-color: #456F7D;
  border-radius: 5px;
  background-color: #456F7D;
  letter-spacing: 1.5px;
  padding: 15px;
  color: #f7f7f7;
  font-weight: 600;
  box-shadow:  8px 4px 15px  #1f4854;
  margin-top: 13px;
  position: relative;
}

.form_button:hover {
  background-color: #6a94a1;
  color: #000000;
}

.form_button:active {
  background-color: #91b5c0;
  color: #000000;
  box-shadow:  6px 7px 17px  #10262d;
}

/* Footer */

footer {
  color: white;
  padding-bottom: 30px;
}

@media (max-width: 960px) {

  .article {
    grid-template-columns: none;
  }

  .section2 {
    display: inline;
  }

  .form_text {
    font-weight: 600;
    font-style: italic;
    padding-bottom: 10px;
  }

  .formTextColor {
    font-size: 30px;
  }
  
 .section2 {
    top: 50px;
  }

  #fname, #lname, #email {
    width: 280px;
  }

  label {
    color: white;
  } 

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    padding-top: 7px;
    background-color: #2b4852;
    margin-top: 100px;
    padding-bottom: 7px;
    color: #000000;
  }

}
